body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:513px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:0px;
  top:75px;
  width:1054px;
  height:513px;
}
#u131 {
  position:absolute;
  left:2px;
  top:248px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:31px;
  top:27px;
  width:339px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u134 {
  position:absolute;
  left:47px;
  top:261px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:163px;
  top:252px;
  width:440px;
  height:38px;
}
#u137 {
  position:absolute;
  left:2px;
  top:11px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:165px;
  top:254px;
  width:437px;
  height:34px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:58px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u139 {
  position:absolute;
  left:240px;
  top:331px;
  width:178px;
  height:58px;
  font-size:20px;
}
#u140 {
  position:absolute;
  left:2px;
  top:17px;
  width:174px;
  word-wrap:break-word;
}
